$container-width: 118rem;
$basic-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-button-color:#50c3af;
$color-background-light:white;
$color-background-dark:#eeeeef;
$color-box-shadow:rgba(0, 0, 0, 0.18);
$semibold-weight: 600;
$large-break-point: 1200px;
$smaller-break-point: 700px;

