.extendedService{
  background-color: #eeeeef;
  //&__heading {
  //  margin: 20px 0 20px 0;
  //
  //}
  &__container{
    margin-left: 30px;
    margin-right: 30px;

  }
  &__text{
    margin: 30px 0 0 0;
    text-align: left;
  }
  &__button{
background-color: #d2d5da;
    margin-top: 40px;
  }

  &__menu {
text-align: left;
    margin: 60px 60px 60px 60px ;


    &-item {
      text-align: left;
      font-size: 5rem;
      color: white;
    }
  }



  @media only screen and (max-width: $large-break-point) {
    &__menu {
      &-item {
        flex-basis: 30%;

      }
    }
    .item{
      box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.18);
      position: relative;
      flex: 1 1 auto;
      padding-bottom: 10px;
      margin: auto;
    }
  }

  @media only screen and (max-width: $smaller-break-point) {
    &__menu {
      text-align: justify;
      margin-bottom: 35px;

      &-item {
        flex-basis: auto;
        max-width: 30rem;
        margin: 0 auto 5rem;

      }

    }
    .item{
      box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.18);
      position: relative;
      flex: 1 1 auto;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
  }
}



.item{
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.18);
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 10px;
  margin: auto;
}






//.extendedService {
//  padding-top: 60px;
//  background-color: #eeeeef;
//  &__heading1 {
//
//    &::before {
//      content: url('../img/icon/.png');
//      float: left;
//      margin: 0 30px 40px 0;
//    }
//  }
//
//
//  &__container{
//
//    margin-left: 30px;
//    margin-right: 30px;
//  }
//  &__menu {
//    display: flex;
//    justify-content: space-between;
//
//    margin: 60px 0;
//
//    &-item {
//
//      text-align: left;
//      flex-basis: 27.1%;
//      font-size: 5rem;
//      color: white;
//
//    }
//  }
//  &__item-content{
//    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.18);
//    position: relative;
//    flex: 1 1 auto;
//    padding-bottom: 10px;
//
//    margin: auto;
//
//  }
//  &__button{
//    background-color: #d2d5da;
//  }
//  &__text{
//    margin: 30px 0 40px 0;
//  }
//  &__item-textcontent{
//    position: relative;
//    flex: 1 1 auto;
//    padding-bottom: 10px;
//
//    margin: auto;
//  }
//
//
//  @media only screen and (max-width: $large-break-point) {
//    &__menu {
//      &-item {
//        flex-basis: 30%;
//      }
//    }
//  }
//
//  @media only screen and (max-width: $smaller-break-point) {
//    &__menu {
//      flex-flow: column nowrap;
//      text-align: justify;
//      margin-bottom: 0;
//
//      &-item {
//        flex-basis: auto;
//        max-width: 30rem;
//        margin: 0 auto 5rem;
//      }
//    }
//  }
//}
//
//
//
