.extendedService{
  background-color: $color-background-dark;

  &__container{
    margin-left: 30px;
    margin-right: 30px;

  }
  &__text{
    margin: 30px 0 0 0;
    text-align: left;
  }
  &__button{
background-color: #d2d5da;
    margin-top: 40px;
  }

  &__menu {
text-align: left;
    margin: 60px 60px 60px 60px ;


    &-item {
      text-align: left;
      font-size: 5rem;
      color: white;
    }
  }



  @media only screen and (max-width: $large-break-point) {
    &__menu {
      &-item {
        flex-basis: 30%;

      }
    }
    .item{
      box-shadow: 0 6px 4px -4px $color-box-shadow;
      position: relative;
      flex: 1 1 auto;
      padding-bottom: 10px;
      margin: auto;
    }
  }

  @media only screen and (max-width: $smaller-break-point) {
    &__menu {
      text-align: justify;
      margin-bottom: 35px;

      &-item {
        flex-basis: auto;
        max-width: 30rem;
        margin: 0 auto 5rem;

      }

    }
    .item{
      box-shadow: 0 6px 4px -4px $color-box-shadow;
      position: relative;
      flex: 1 1 auto;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
  }
}



.item{
  box-shadow: 0 6px 4px -4px $color-box-shadow;
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 10px;
  margin: auto;
}
