.footer {
  text-align: left;

&__container{
  display: flex;
  justify-content: space-around;
}
  &__copyright-text {

    display: block;
    margin: 30px 0 25px 0;
    font: normal normal 14px 'Roboto', $basic-font-stack;
  }
  &__copyright-part1::after {
    content: url('../img/icon/copyright.png');
    margin: 2px 5px -23px 0;

  }
  &__copyright-part2{
    color: #aaacaf;
  }


  @media only screen and (max-width: $smaller-break-point) {

    &__copyright-text {

      display: block;
      margin: 30px 10px 25px 10px;
      font: normal normal 14px 'Roboto', $basic-font-stack;
    }
    }
}

.social-icons {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #b5b7b9;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  border: white;
  padding: 11px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

