.header {
  background: url('../img/background/background.png') center/cover no-repeat;
  background-color: $color-background-dark;
  color: white;
  padding-bottom: 119px;

  margin-bottom: 0;

  &__heading {
    margin: 60px 0 40px 0;
    color: white;
  }

  &__platform-menu {
    margin: 40px 0 70px;

    &-item {
      display: inline-block;
      margin: 0 3rem 0 0;
      font: $basic-font-stack;
      font-size: 13px;
      font-family: 'Pacifico', cursive;
      font-family: 'Berkshire Swash', cursive;
      font-family: 'Cookie', cursive;
      font-family: 'Great Vibes', cursive;
      font-family: 'Ubuntu', sans-serif;
      font-family: 'Open Sans', sans-serif;
      text-transform: capitalize;
    }
  }

  &__link {
    color: #848484;

    text-transform: capitalize;
  }
  &__platform-link {
    color: white;
  }

  @media only screen and (max-width: $smaller-break-point) {
    .header {
      &__container {
        margin-bottom: 0;
      }
      &__platform-menu {
        margin: 2rem auto;

        &-item {
          display: block;
          margin: {
            bottom: 2rem;
            right: 0;
          }
        }
      }
    }
  }

  &__subtitle {
    line-height: 0.5;
    text-align: center;
    margin-bottom: 80px;
    &-heading {
      display: inline-block;
      position: relative;
      font-size: 15px;
    }
    &-heading:before,
    &-heading:after {
      content: "";
      position: absolute;
      height: 5px;

      border-top: 2px solid rgba(152, 152, 152, 0.14);
      top: 5px;
      width: 100px;
    }
    &-heading:before {
      right: 100%;
      margin-right: 30px;
    }
    &-heading:after {
      left: 100%;
      margin-left: 30px;
    }

  }
  @media only screen and (max-width: $smaller-break-point) {
    text-align: center;

    &__container {
      padding: 0 1rem;
    }

    &__heading {
      margin-top: 10rem;
    }

  }
}
