.heading {
  //margin: 1rem 0;
  //color: #222222;
  //
 &_1 {
  font-size:  52px;
   font-family: 'Pacifico', cursive;
   font-family: 'Berkshire Swash', cursive;
   font-family: 'Cookie', cursive;
   font-family: 'Great Vibes', cursive;


  //  line-height: 2rem;
}

  &_2 {
    font: normal $semibold-weight;
    font-size: 52px;
    font-family: 'Pacifico', cursive;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Ubuntu', sans-serif;
  }

  //
  &_3 {
    font: normal $semibold-weight;
    font-size: 16px;
    color: #40474e;
  }
  //
  //&_4 {
  //  font: normal bold 1.8rem 'Raleway', $basic-font-stack;
  //}
}
