.heading {

 &_1 {
  font-size:  52px;
   font-family: 'Pacifico', cursive;
   font-family: 'Berkshire Swash', cursive;
   font-family: 'Cookie', cursive;
   font-family: 'Great Vibes', cursive;



}

  &_2 {
    font: normal $semibold-weight;
    font-size: 52px;
    font-family: 'Pacifico', cursive;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Ubuntu', sans-serif;
  }

  //
  &_3 {
    font: normal $semibold-weight;
    font-size: 14px;
    color: #40474e;
  }
  &_2 {
    font: normal $semibold-weight;
    font-size: 14px;
    color: #f3f6ff;
  }

}

.heading3{

  &::before {
    content: url('../img/icon/.png');
    float: left;
    margin: 0 15px 10px 0;
  }
}
